<form action="/recipe" method="GET" name="formName">
    <div class="text">
        <h2>Enter recipe</h2>
        <input type="text" name="recipe" id="recipe" class="input" placeholder="enter text">
        <a class="waves-effect waves-light btn-small">
            <input type="submit" name="btn" value="Input">
        </a>
    </div>
</form>

<img src="" alt="">
<div class="container">
    <div id="divForName">
        <div class="space"></div>
    </div>
</div>


<link rel="stylesheet" href="/css/style.css">
<script defer src="/js/index.js"></script>